@media(max-width:1383px){
    .titulo p{
        font-size: 1.7rem;
        left:-100px
    }
    .titulo h1{
        font-size: 5.0rem;
    }
    form p{
        font-size: 1.3rem;
    }
}

@media(max-width:1189px){
    #login{
        grid-template-columns: 1fr;
    }
    main{
        max-height: 800px;
        height: auto;
    }
    .titulo{
        border-right: none;
        height: 350px;
    }

    form{
        height: auto;
        padding: 20px 0px;
    }
    form div{
        margin-bottom: 40px;
    }

    #sobre .sobre-img-texto{
        grid-template-columns:1fr;
        justify-items: center;
        width: 90%;
    }
    .sobre-img-texto .imgSobre{
        width:90%;
        padding:0;
        padding-bottom: 10px;
        grid-row:2;
        
     }

     .sobre-img-texto .textoSobre p{
        text-align: center;
     }

     .textoSobre{
        max-width: 80%;
     }
}

@media(max-width:709px){
    .titulo h1{
        margin-left: 0;
        font-size: 3.8rem;
    }
    .titulo p{
        left: 0;
    }
    form{
        width: 70%;
    }
    form p{
        font-size: 1.1em;
    }

    main{
        width: 80%;
    }

    .sobre-img-texto .imgSobre{
        width:100%;
        padding:0;
        padding-bottom: 10px;
    }

    #cursos a{
        font-size: 1.0em;
    }

    h2{
        font-size: 1.6rem;
    }

    .navegacao{
        width: 100%;
        padding: 10px 0px;
    }

    #contato ul{
        display: flex;
        flex-direction: column;
    }

    #contato a{
        font-size: 1.3rem;
        width: 90px;
    }
}